<style>
    .searchLabel:hover{
        color:red;
    }

    .searchCheckbox:checked + span {
        color:greenyellow;
    }
    </style>
@* <link rel="stylesheet" href="~/css/PartialSearch.cshtml.css" /> *@
<div class="offcanvas offcanvas-start" tabindex="-1" id="searchSidebar" aria-labelledby="offcanvasWithBackdropLabel">
    <button class="btn btn-primary btn-search position-absolute text-secondary border border-secondary " type="button" data-bs-toggle="offcanvas" data-bs-target="#searchSidebar" aria-controls="searchSidebar">搜尋房源</button>
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasWithBackdropLabel">條件篩選</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body px-5">
        <form asp-action="SearchRoom" asp-controller="Search" method="post" id="searchForm">
            <div class="mb-3">
                <label class="mb-3"> 請選擇位置</label>
                <select class="form-select mb-3" id="cityList" name="cityList">
                    
                    </select>
                <div class="mb-3">
                    <select class="form-select" id="cityAreaList" name="cityAreaList">
                        <option value="all">所有區域</option>`
                    </select>
                </div>
            </div>
            <div class="mb-4">
                <div class="position-relative ">
                    <label class="form-label mb-3"> 請選擇房屋租金</label>
                    <input type="range" class="range w-100" name="rent" id="rentRange" min="1000" max="30000" step="1000" value="1000" style="margin:10px;" />
                    <div class="position-absolute translate-middle-x " id="num">1000</div>
                </div> 
            </div>
            <div class="mb-3">
                <label class="mb-3"> 請選擇房型</label>
                <select class="form-select" id="roomType" name="roomType">
                    <option value="all">所有房型</option>
                    <option value="雙人套房">雙人套房</option>
                    <option value="雙人雅房">雙人雅房</option>
                    <option value="三人套房">三人套房</option>
                    <option value="三人雅房">三人雅房</option>
                </select>
            </div>
            <div class="mb-3">
                <label class="mb-3">希望室友工作時間</label>
                <select class="form-select" id="perferJobtime" name="perferJobtime">
                    <option value="all">不拘</option>
                    <option value="早">早</option>
                    <option value="中">中</option>
                    <option value="晚">晚</option>
                </select>
            </div>
            <div class="mb-3">
                <label class="searchLabel">
                    <input type="checkbox" name="pet" value="true" class="searchCheckbox" />
                    <span>可養寵物</span>
                </label>
                <label class="searchLabel">
                    <input type="checkbox" name="smoking" value="true" class="searchCheckbox" />
                    <span>可抽菸</span>
                </label>
            </div>
            <button type="submit" class="btn btn-primary w-100" onclick="search()">搜尋</button>
        </form>
    </div>
</div>

<script>
    let taiwanData, city, areas;
    axios.get("../json/country.json").then((res) => {
        taiwanData = res.data;
        $("#cityList").empty();
        let cityStr = `<option value="all">所有縣市</option>`;
        
        $.each(taiwanData, (i, val) => { 
            cityStr += `<option value=${val.CityName}>${val.CityName}</option>`   
        })
        $("#cityList").append(cityStr);
        
        $("#cityList").on("change", function () {
            city = this.value;
            $("#cityAreaList").empty();
            let areaStr = `<option value="all">所有區域</option>`;
            if (city == "all") {
                $("#cityAreaList").append(areaStr);
            } else {
                areas = taiwanData.find((c) => c.CityName == city).AreaList;
                $.each(areas, (i, val) => {
                    areaStr += `<option value=${val.AreaName}>${val.AreaName}</option>`
                })
                $("#cityAreaList").append(areaStr);
            }
            
            
        })
    }).catch((err) => {
        console.log(err)
    })
    
    $("#rentRange").on("input", function (){
        let val = this.value;
        let max = this.max;
        let min = this.min;
        let leftPosition = ((val - min) / (max - min)) * 100;
        $("#num").css("left", `${leftPosition}%`);
        $("#num").text(val)
    })

    function search() {
        // 手動關閉 Offcanvas
        const offcanvasElement = document.getElementById("searchSidebar");
        const offcanvasInstance = bootstrap.Offcanvas.getInstance(offcanvasElement) || new bootstrap.Offcanvas(offcanvasElement);
        offcanvasInstance.hide();
    }
      @*  var form = document.querySelector('form');
       
        form.action = '/Search/SearchRoom';
        form.submit();*@

        $('#searchForm').submit(function (e) {
            e.preventDefault();

            // 取得表單
            const cityList = $('#cityList').val();
            const cityAreaList = $('#cityAreaList').val();
            const roomStyle = $('#roomType').val();
            const rentRange = $('#rentRange').val();
            const perferJobtime = $('#perferJobtime').val();
            console.log("cityList:", cityList);
            console.log("cityAreaList:", cityAreaList);
            console.log("roomStyle:", roomStyle);
            console.log("rentRange", rentRange);
            console.log("perferJobtime", perferJobtime);
            var petChecked = $("input[name='pet']").is(":checked");
            console.log("可養寵物被勾選:", petChecked);
            var smokingChecked = $("input[name='smoking']").is(":checked");
            console.log("可抽菸被勾選:", smokingChecked);
            // alert("確認資料");
            this.submit();
        });
    
</script>

