<section class="memberLayout container py-5">
    <div class="d-flex flex-column flex-md-row">
        @await Html.PartialAsync("_PartialMemberListGroup")
        <div class="w-100  ps-md-5">
            @await Html.PartialAsync("_PartialPageTitle", "修改會員資料")
            <form action="/" method="post">
                <div class="avatar d-flex justify-content-center mb-3">
                    <input type="file" accept="image/*" id="avatar" name="avatar" class="d-none"/>
                    <figure class="avatar-figure">
                        <img src="~/images/peopleImg.png" alt="" class="rounded-circle object-cover w-100 h-100" id="avatarImg" />
                        <figure class="avatar-figcaption text-center">
                            <label type="button" for="avatar" class="w-100 h-100 d-flex align-items-center justify-content-center">
                                <i class="fa fa-arrow-circle-up" aria-hidden="true" style="font-size:100px; color:white"></i>
                            </label>
                        </figure>
                    </figure>
                </div>
                <div class="mb-3">
                    <label for="name" class="form-label">姓名</label>
                    <input type="text" class="form-control" id="name" name="name" value=@ViewBag.Name>
                </div>
                <div class="mb-3">
                    <label for="nickName" class="form-label">暱稱</label>
                    <input type="text" class="form-control" id="nickName" name="nickName" value=@ViewBag.NickName>
                </div>
                <div class="mb-3">
                    <label for="birth" class="form-label">出生日期</label>
                    <input type="text" class="form-control" id="birth" name="birth" value=@ViewBag.Birth readonly>
                </div>
                <div class="mb-3">
                    <label for="gender" class="form-label">性別</label>
                    <input type="text" class="form-control" id="gender" name="gender" value=@ViewBag.Gender readonly>
                </div>
                <div class="mb-3">
                    <label for="phone" class="form-label">電話</label>
                    <input type="tel" class="form-control" id="phone" name="phone" value=@ViewBag.Phone>
                </div>
                <div class="mb-3">
                    <label for="intro" class="form-label">自我介紹</label>
                    <textarea class="form-control" id="intro" name="intro" rows="4" cols="50" maxlength="200">@ViewBag.Intro</textarea>
                    <p class="text-muted text-end" id="charCount"></p>
                </div>
                <div class="text-center ">
                    <button type="submit" class="btn btn-primary px-5 py-3">修改</button>
                </div>
                
            </form>
        </div>
    </div>
</section>

@section Scripts{
    <script>
        let tempData = {};
        $("#avatar").on("change", function (e) {
            const { name } = e.target;
            const file = e.target.files[0];
            const reader = new FileReader();
            reader.addEventListener("load", () => {
               const photo = reader.result;
                tempData = {
                    ...tempData,
                    [name]: photo,
                };
                $("#avatarImg").attr("src", photo);
            }, false);
            if (file) {
                reader.readAsDataURL(file);
            }
        })

        let length = $("#intro").text().length
        $("#charCount").text(`${length}/200`)
        $("#intro").on("input", function () {
            $(this).text($(this).val());
            length = $(this).text().length;
            $("#charCount").text(`${length}/200`)
        })
    </script>
}
