<section class="memberLayout container py-5">
    <div class="d-flex flex-column flex-md-row">
        @await Html.PartialAsync("_PartialMemberListGroup")
        <div class="w-100  ps-md-5">
            @await Html.PartialAsync("_PartialPageTitle","變更密碼")
            <form action="/" method="post">
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="Email" name="Email" value=@ViewBag.Email readonly>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">新密碼</label>
                    <input type="password" class="form-control" id="password" name="password" value="">
                </div>
                <div class="mb-3">
                    <label for="checkPW" class="form-label">確認新密碼</label>
                    <input type="password" class="form-control" id="checkPW" name="checkPW" value="">
                    <div class="invalid-feedback">與新密碼不一致</div>
                </div>
                <div class="text-center ">
                    <button type="submit" class="btn btn-primary px-5 py-3">修改</button>
                </div>
                
            </form>
        </div>
    </div>
</section>

@section Scripts{
    <script>
        $("#checkPW").on("change", function () {
            if ($("#password").val() != $("#checkPW").val()) {
                $("#checkPW").addClass("is-invalid");
            } else {
                $("#checkPW").removeClass("is-invalid");
            }
        })  
    </script>
}