<form asp-action="Login" asp-controller="Home" method="POST" id="loginForm">
	<div>
		<label for="email">電子郵件：</label>
		<input type="email" id="email" name="email" required placeholder="請輸入電子郵件" />
	</div>
	<div>
		<label for="password">密碼：</label>
		<input type="password" id="password" name="password" required placeholder="請輸入密碼" />
	</div>
	<div>
		<button type="submit">登入</button>
	</div>
</form>
<h1>@ViewBag.LoginMessage</h1>
<div style="margin:50px;"></div>
<h1>上傳房間圖片(圖片大小不能超過2MB)</h1>
@*表單的 enctype 設定為 multipart/form-data 是上傳檔案所必需的*@
<form asp-action="UploadRoomImages" asp-controller="Home" method="post" enctype="multipart/form-data" id="uploadRoomForm">
	<input type="file" name="ImageFiles" onchange="previewImage();" multiple accept="image/jpeg, image/png" id="ImageRoomFiles" />
	<input type="text" name="roomID" placeholder="輸入房間編號" required />
	<button type="submit">Upload</button>
</form>

@*上傳後顯示圖片*@
<div id="imagePreviewContainer" style="text-align:center;"></div>
<div style="margin:50px;"></div>
<h1>上傳會員圖片(圖片大小不能超過2MB)</h1>
<form asp-action="UploadMemberImages" asp-controller="Home" method="post" enctype="multipart/form-data" id="uploadMemberForm">
	<input type="file" name="ImageFiles" onchange="previewImage();" multiple accept="image/jpeg, image/png" id="ImageMemberFiles" />
	<input type="text" name="memberID" placeholder="輸入會員編號" required />
	<button type="submit">Upload</button>
</form>
@*
<img id="imagePreview" src="" alt="" />
@if (ViewBag.Base64Image != null)
{
	<script>
		window.onload = function () {
			var base64Image = '@Html.Raw(ViewBag.Base64Image)';
			var imgPreview = document.getElementById('imagePreview');
			imgPreview.src = `data:image/jpeg;base64,${base64Image}`;
		}
	</script>
}*@

<script>
	$(function () {
		//檢查大小
		checkFileSize();
		//顯示圖片
		previewImage();
		//登入訊息
		var message = "@Html.Raw(ViewBag.LoginMessage)";
		if (message.length > 0) {
			alert(message);
		}
		$('#loginForm').submit(function (e) {
			e.preventDefault();
			console.log($('#email').val());
			alert("check");
			this.submit();
		});
	});

	function checkFileSize() {
		$('#ImageFiles').on('change', function () {
			var files = $(this)[0].files;
			var maxFileSize = 2097152; // 2MB in bytes
			var fileSizeOk = true;
			$.each(files, function (index, file) {
				if (file.size > maxFileSize) {
					fileSizeOk = false;
					return false; 
				}
			});
			if (!fileSizeOk) {
				alert("文件大小不得超過2MB");
				$('#ImageFiles').val(''); 
			}
		});
	}
	//顯示多張圖片
	function previewImage() {
		var files = $('#ImageMemberFiles')[0].files;  
		var container = $('#imagePreviewContainer');
		container.empty();  // 清空現有的圖片預覽

		$.each(files, function (index, file) {
			var reader = new FileReader();
			reader.onload = function (e) {
				var img = $('<img>').attr('src', e.target.result);
				//img.css({ width: '100px', margin: '5px' });
				img.css({ width: '200px', margin: '5px auto', display:'block'});  // 設定預覽圖像的樣式
				container.append(img); // 將圖像加入容器中
			};
			reader.readAsDataURL(file);  // 讀取檔案內容
		});
	}
	@*顯示單一圖片
	function previewImage() {
		var file = document.querySelector('input[type=file]').files[0];
		var reader = new FileReader();

		reader.onloadend = function () {
			var imgPreview = document.getElementById('imagePreview');
			imgPreview.src = reader.result;
		}

		if (file) {
			reader.readAsDataURL(file); Reads the image as a data URL
		}
	}*@
</script>
